/*
Rene Chen
Final Project
This is the CSS
*/
#rowDiv{
    margin: auto;
    text-align: center;
    width: 30%;
}

input[type="text"]{
    height: 40px;
    font-size: 20px;
}

#submiteWeather{
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}